<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Name &nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Address&nbsp;</th>
      <th>Email&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;Pay type</th>
      <th>&nbsp;&nbsp;Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= order.address %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= order.email %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= order.pay_type %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @order_total_price["#{order.id}"] %></td>



        <td><%= link_to 'Show', order,class: 'sho' %></td>
        <td><%= link_to 'Edit', edit_order_path(order),class: 'edi'%></td>
        <td><%= link_to 'Destroy', order, class: 'des',method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path,class: 'ord' %>
<!-- START_HIGHLIGHT -->
<p><%= paginate @orders %></p>
<!-- END_HIGHLIGHT -->
