- if notice
  %p#notice= notice
//<h1><%= t('.title_html') %></h1>
<h1>Welcome </h1>
//<h2>Here are our instruments,Enjoy yourself ! </h2>

- cache ['store', Product.latest] do
  - @products.each do |product|
    - cache ['entry', product] do
      .entry
        = image_tag(product.image_url)
        %h3= product.title
        %div= sanitize(product.description)
        .price_line
          %span.price= number_to_currency(product.price)
          = button_to t('.add_html'), line_items_path(product_id: product),
            remote: true

%p= paginate @products