<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Musical Instrument  Store</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START:i18n -->
  <div id="banner">
<!-- START_HIGHLIGHT -->
    <%= form_tag store_path, class: 'locale' do %>
      <%= select_tag 'set_locale',
        options_for_select(LANGUAGES, I18n.locale.to_s),
        onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>
<!-- END_HIGHLIGHT -->
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div>
<!-- END:i18n -->
  <div id="columns">
    <div id="side">
      <!-- START:hidden_div -->
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
    <!-- END:hidden_div -->

      <ul>

      <li><a href="http://localhost:3000"><%= t('.home') %></a></li>
        <li><a href="http://localhost:3000/about"><%= t('.about') %></a></li>

        <li><a href="http://localhost:3000/contact"><%= t('.contact') %></a></li>

        <li><%= link_to t('.admin_html'),  admin_path  %></li>
      </ul>


      <% if session[:user_id] %>
        <ul>
          <li><%= link_to t('.order_html'),   orders_path   %></li>
          <li><%= link_to t('.product_html'), products_path %></li>
          <% user = User.find_by(id: session[:user_id]) %>
          <% if user.admin %>
            <li><%= link_to t('.users_html'),    users_path    %></li>
          <% end %>
        </ul>
        <%= button_to t('.logout_html'), logout_path, class: 'ord',method: :delete,data: { confirm: 'Are you sure to logout?' }  %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
